*{
    margin: 0;
    padding: 5px;
    background-color: lightblue;
}

h1{
    color: mediumblue;
    text-align: center;
}

h2{
    color: azure;
    background-color: blue;
}

strong{
    color: blue;
}

em{
    color: navy;
}

p{
    text-align: justify;
    text-indent: 30px;
    font-size: 20px;
}